*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.chatbot-wrapper{
    height: 100vh;
    width: 100vw;
}
.top-bar{
    background-color: rgb(248, 255, 248);
    display: flex;
    align-items: center;
    justify-content: end;
    height: 50px;
    border-bottom: 2px solid lightgreen;
}
.main-content{
    display: flex;
    height: calc(100% - 50px);
}
.flow-panel{
    width: 85%;
    height: 100%;
}
.nodes-panel{
    width: 15%;
    height: calc(100% - 2px);
    border-left: 2px solid lightgreen;
}
.save-btn{
    padding: 5px 10px;
    border: 2px solid #8ccee4;
    color: rgb(107, 107, 107);
    cursor: pointer;
    border-radius: 4px;
    background-color: white;
    margin-right: 20px;
}
.save-btn:hover{
    color: black;
}
.node-panel-wrapper{
    display: flex;
    justify-content: center;
}
.node-item-wrapper{
    margin-top: 20px;
    border: 2px solid #8ccee4;
    width: 60%;
    padding: 5px 0px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #8ccee4;
}
.node-wrapper {
    background-color: white;
    box-shadow: 0px 0px 5px 0px #bcbcbc;
    border-radius: 4px;
}
.node-header{
    display: flex;
    background-color: #dcf1f8;
    align-items: center;
    padding: 5px 5px 2px 5px;
}
.node-title{
    margin-left: 5px;
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: 900;
}
.node-whatsapp-icon{
    margin-left: 50px;
}
.node-content{
    padding: 8px;
    font-size: 13px;
}

.selected-node {
    box-shadow: 0px 4px 20px 4px #bcbcbc;
}

.settings-header{
    border-bottom: 1px solid lightgreen;
    padding: 10px;
    color: #8ccee4;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.settings-wrapper{
    width: 100%;
}
.input-wrapper{
    padding: 10px;
}
.sub-heading{
    margin-top: 10px;
    color: gray;
}
.settings-textarea{
    margin-top: 10px;
    font-size: 12px;
    padding: 5px;
    outline: none;
    width: 90%;
    border: 1px solid #8ccee4;
}

@media (max-width: 884px) {
    .flow-panel{
        width: 70%;
        height: 100%;
    }
    .nodes-panel{
        width: 30%;
        height: calc(100% - 2px);
        border-left: 2px solid lightgreen;
    }
}